
{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}
  <h1 class="text-center">BIASHARA HUB</h1>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
            <h1>Edit Profile</h1>
            <form action="/edit_profile" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.about_me.label }}<br>
                    {{ form.about_me(cols=50, rows=4) }}<br>
                    {% for error in form.about_me.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                    <input type="submit" class= 'btn btn-warning btn-45' value="Submit ">
                    </p>
            </form>
      
    </div>
</div>
{% endblock %}