{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
        <div class="jumbotron">
            <h3> <p class="text-info">Congratulations {{ current_user.username }} ! </p> </h3>
            <p class="lead">
    
              We are excited that you have joined the exclusive OzyL❤ve community. You are all set to explore and match with prospective patners in Kenya. To ensure that other people have a better sense of who you are, you can provide a small description about yourself.
            </p>

            <p class="lead">
              Log in to your account to enhance your profile and increase your chances of matching
            </p>
            <form action="/log in" method="POST">
            <input type="submit" class= 'btn btn-warning btn-block' value="Sign in ">
            </form>
          </div>  
    </div>
  </div>
{% endblock %}

