{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
        <div class="jumbotron">
            <h3> <p class="text-info">Welcome back {{ current_user.username }} ! </p> </h3>
            <p class="lead">
            Explore OzyL❤ve to find exciting partners
            </p>

            <div><a href="{{ url_for('userprofileview', username=current_user.username) }}">Edit or Create your Profile for a better match</a></div>
          </div>  
    </div>
  </div>
{% endblock %}
