{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}
  <h1 class="text-center">BIASHARA HUB</h1>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
            <h1>Enter your criteria</h1>
            <form action="/search_results" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.location.label }}
                    {{ form.location(size=1) }}<br>
                    {% for error in form.location.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.category.label }}
                    {{ form.category(size=1) }}<br>
                    {% for error in form.category.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>

                <p>{{ form.submit() }}</p>

            </form>      
    </div>
</div>
{% endblock %}