{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}
  <h1 class="text-center">Look for potential mates</h1>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
            <h2>Enter your criteria</h2>
            <form action="/search_results" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.location.label }}
                    {{ form.location(size=1) }}<br>
                    {% for error in form.location.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.gender.label }}
                    {{ form.gender(size=1) }}<br>
                    {% for error in form.gender.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                <input type="submit" class= 'btn btn-warning btn-32' value="Submit" >
            </p>
            </form>      
    </div>
</div>
{% endblock %}