{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <h1>{{ current_user.username }}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}</h1>
    {% for post in posts %}
    <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %}
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
        <div class="jumbotron">
            Welcome to the Biashara Hub app. We connect customers to businesses by allowing existing and potential customers to view and review companys' profiles.
          </div>  
    </div>
  </div>
{% endblock %}

