{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block body %}
<h1 class="text-center">BIASHARA HUB</h1>
<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <div class="jumbotron">
        Welcome to the Biashara Hub app. We connect customers to businesses by allowing existing and potential customers to view and review companys' profiles. 
    </div>
            {%if request.form['client']=='customer'%}
                    <form action='/sign up client' method="POST">
                    <p><input type="username" name="username" required placeholder="Username"></p>
                    <p><input type="password" name="password" required placeholder="Password"></p>
                    <p><input type="password" name="password2" required placeholder="Confirm Password"></p>
                    <p><input type="email" name="email" required placeholder="Email"></p>
                    <p><input type="location" name="location" required placeholder="Location"></p>
                    {%if request.form['password']!=request.form['password2']%}
                      <p>Enter matching passwords!</p>
                    {%endif%}
                    <input type="submit" value="Sign Up">
                    </form> 
            {%elif request.form['client']=='business'%}
                    <form action='/sign up client' method="POST">
                    <p><input type="username" name="username" required placeholder="Company name"></p>
                    <p><input type="password" name="password" required placeholder="Password"></p>
                    <p><input type="password" name="password2" required placeholder="Confirm Password"></p>
                    <p><input type="email" name="email" required placeholder="Email"></p>
                    <p><input type="text" name="product" required placeholder="Product"></p>
                    <p><input type="location" name="location" required placeholder="Location"></p>
                    {%if request.form['password']!=request.form['password2']%}
                      <p>Enter matching passwords!</p>
                    {%endif%}
                    <input type="submit" value="Sign Up">
                    </form> 
            {%else%}
            <form action= '/sign up' method='POST'>
            <p>Are you a customer or a business owner</p>

            <P>Enter either customer or business</P>
          <p><input type="username" name='client' placeholder="customer or business"></p>
          <P><input type="submit" value="Submit"></P>
          {%endif%}
            </div>
        </div>
{% endblock %}