{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}
  <h1 class="text-center">BIASHARA HUB</h1>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
            <h1>Enter details to register your business</h1>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.businessname.label }}<br>
                    {{ form.businessname(size=32) }}<br>
                    {% for error in form.businessname.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.about_business.label }}<br>
                    {{ form.about_business(cols=50, rows=4) }}<br>
                    {% for error in form.about_business.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>

                <p>
                    {{ form.location.label }}<br>
                    {{ form.location(size=2) }}<br>
                    {% for error in form.about_business.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>


                    <p>
                    {{ form.category.label }}<br>
                    {{form.category(size=2)}}<br>
                    {% for error in form.category.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                        </p>
                <p>{{ form.submit() }}</p>
            </form>
      
    </div>
</div>
{% endblock %}