{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}
  <h1 class="text-center">BIASHARA HUB</h1>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
            <h1>Review this business</h1>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.feedback.label }}<br>
                    {{ form.feedback(cols=50, rows=4) }}<br>
                    {% for error in form.feedback.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
      
    </div>
</div>
{% endblock %}